<!DOCTYPE html>
<html>
<body>
<a href="HomePage"></a>
<a href="/About">אודות</a>
<a href="/FindTheStore">הגעה </a>
<a href="/FollowUs">עקוב אחרי</a>
<a href="/MyAcount">התחבר/הרשם</a>
<a href="/Search">חיפוש</a>
<a href="/ContactUs">צור קשר</a>
<a href="/Register">הרשם</a>
<a href="/SignIn">התחבר</a>


</body>
</html>
